node_modules
dist
.firebase
*.log
.env
.env.*
!.env.example
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
studio-universo-esoterico/node_modules
studio-universo-esoterico/dist
